.rx-translation-button {
    -fx-background-color: #8e9597;
    -fx-background-radius: 0.5;
    -fx-border-radius: 0.5;
    -fx-border-width: 1.0;
}

.rx-translation-button:pressed {
    -fx-opacity: 0.8;
}

#btn-play {
    -fx-background-color: #8e9597;
    -fx-background-radius: 0.5;
    -fx-border-radius: 0.5;
    -fx-border-width: 1.0;
}

