.button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-background-radius: 0.5;
    -fx-border-radius: 0.5;
    -fx-border-width: 1.0;
}

.button:hover {
    -fx-background-color: #bbd5dd;
}

.button:pressed {
    -fx-opacity: 0.8;
}

#menu_button{
    color:blue;

}

.color-picker {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-background-radius: 95;
    -fx-border-radius: 95;
}

.color-picker:hover {
    -fx-background-color: white;
}

.color-picker:pressed {
    -fx-opacity: 0.8;
}

#toolbar {
    -fx-background-color: white;
}


.tab-pane .tab-header-background {
    -fx-background-color: white;
}

.tab-pane.plain .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab {
    -fx-border-radius: 4 4 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 3 10 5 10;
    -fx-background-insets: 0;
}

.tab-pane .tab-header-area .tab .tab-label {
    -fx-text-fill: black;
}

.tab-pane .tab-header-area .tab:hover {
    -fx-background-color: #eeeeee;
}

.tab-pane .tab-header-area .tab:disabled:hover {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab:selected {
    -fx-focus-color: transparent;
    -fx-border-color: #dddddd #dddddd white #dddddd;
    -fx-background-color: white;
}

.tab-pane .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: #333333;
}

.tab-pane > .tab-content-area {
    -fx-background-color: white;
}

.tab-pane .tab-header-area .tab .tab-label {
    -fx-focus-color: transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: #8e9597;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-close-button {
    -fx-background-color: #333333;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: red;
    -fx-cursor: hand;
}

#btnCircle #btnLine #btnPencil #btnRectangle:pressed {
        -fx-opacity: 0.8;
    }
